flows.json
[
    {
        "id": "fe162edfc74f05cc",
        "type": "tab",
        "label": "Rede MESH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38ecf3d13bf18e0a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fd8240562a77573a",
        "type": "ui_group",
        "name": "Rede Mesh",
        "tab": "31235f87aab3a89d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "31235f87aab3a89d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d7cacd98f609ab2b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#953232",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 100,
                "sy": 50,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "18f9323d04fcc8b2",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/mesh/rssi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "4ff73e15e3ada7d4",
                "bd68437f7ae2ba82",
                "0f99c5e88d6f4720"
            ]
        ]
    },
    {
        "id": "4ff73e15e3ada7d4",
        "type": "ui_chart",
        "z": "fe162edfc74f05cc",
        "name": "",
        "group": "fd8240562a77573a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": " Gráfico de RSSI do nó pai",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fd04755bc7b518fd",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/mesh/latency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "cbcb47fee246dfcd",
                "34f71842cc81f379"
            ]
        ]
    },
    {
        "id": "bd68437f7ae2ba82",
        "type": "ui_gauge",
        "z": "fe162edfc74f05cc",
        "name": "",
        "group": "fd8240562a77573a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "rssi",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "cbcb47fee246dfcd",
        "type": "ui_numeric",
        "z": "fe162edfc74f05cc",
        "name": "",
        "label": "Latencia",
        "tooltip": "",
        "group": "fd8240562a77573a",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8411537f177981b8",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/mesh/success_rate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "0fcbf8e32df0c1d6",
                "c03289de6def833a"
            ]
        ]
    },
    {
        "id": "0fcbf8e32df0c1d6",
        "type": "ui_gauge",
        "z": "fe162edfc74f05cc",
        "name": "",
        "group": "fd8240562a77573a",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Taxa de sucesso de envio",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "f8d9be4536bf9874",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/mesh/packet_loss",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "b68c2916027c8918",
                "2a21d4d355dd5946"
            ]
        ]
    },
    {
        "id": "b68c2916027c8918",
        "type": "ui_numeric",
        "z": "fe162edfc74f05cc",
        "name": "",
        "label": "Perda Pacotes",
        "tooltip": "",
        "group": "fd8240562a77573a",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 480,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "49be58bd62379053",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/mesh/hops",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 820,
        "wires": [
            [
                "5c2eac5c186b6472",
                "035188d8b8c0b290"
            ]
        ]
    },
    {
        "id": "5c2eac5c186b6472",
        "type": "ui_chart",
        "z": "fe162edfc74f05cc",
        "name": "",
        "group": "fd8240562a77573a",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Número de Saltos (Hops)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "06fc49e8d668be09",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/mesh/transmission_frequency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 960,
        "wires": [
            [
                "2988a7dff4e4aa96",
                "33fe4b8fea3b3a0c"
            ]
        ]
    },
    {
        "id": "2988a7dff4e4aa96",
        "type": "ui_chart",
        "z": "fe162edfc74f05cc",
        "name": "",
        "group": "fd8240562a77573a",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Frequência de Transmissão",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "0f99c5e88d6f4720",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "34f71842cc81f379",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "c03289de6def833a",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "2a21d4d355dd5946",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 600,
        "wires": []
    },
    {
        "id": "035188d8b8c0b290",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 760,
        "wires": []
    },
    {
        "id": "33fe4b8fea3b3a0c",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 900,
        "wires": []
    },
    {
        "id": "573d67a861533f26",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/route_table",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "8b0ea0339583dd80",
                "61c636f4b158bb0a"
            ]
        ]
    },
    {
        "id": "8b0ea0339583dd80",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "21fb2f687c873502",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/ip_mesh",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 860,
        "y": 440,
        "wires": [
            [
                "97aee0cc7523e74f",
                "1eafb341a22a1bf9"
            ]
        ]
    },
    {
        "id": "97aee0cc7523e74f",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "61c636f4b158bb0a",
        "type": "ui_template",
        "z": "fe162edfc74f05cc",
        "group": "fd8240562a77573a",
        "name": "Roteamento",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!-- Adicione as classes Bootstrap para um melhor estilo -->\n<table class=\"table table-bordered table-striped table-hover\" id=\"routeTable\">\n    <thead>\n        <tr>\n            <th>Endereços MAC</th>\n        </tr>\n    </thead>\n    <tbody></tbody>\n</table>\n\n<!-- Adicione estilos personalizados para ajustes finos -->\n<style>\n    #routeTable th {\n        background-color: #f8f9fa;\n        /* Cor de fundo leve para os cabeçalhos */\n        text-align: center;\n        /* Alinha o texto ao centro */\n    }\n\n    #routeTable td {\n        text-align: center;\n        /* Alinha o texto ao centro */\n    }\n\n    #routeTable tr:nth-child(odd) {\n        background-color: #f1f1f1;\n        /* Cor de fundo alternada para linhas ímpares */\n    }\n</style>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (!data || !data.route_table) return;\n\n            let tableBody = document.querySelector('#routeTable tbody');\n            tableBody.innerHTML = ''; // Limpa a tabela existente\n\n            data.route_table.forEach((mac, index) => {\n                let row = `<tr>\n                    <td>${mac}</td>\n                </tr>`;\n                tableBody.innerHTML += row;\n            });\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1eafb341a22a1bf9",
        "type": "ui_template",
        "z": "fe162edfc74f05cc",
        "group": "fd8240562a77573a",
        "name": "No mensagem",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<table class=\"table\" id=\"ipTable\">\n    <thead>\n        <tr>\n            <th>Camada</th>\n            <th>Endereço IP</th>\n        </tr>\n    </thead>\n    <tbody></tbody>\n</table>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (!data) return;\n\n            // Extrair valores de 'layer' e 'IP' da string\n            const regex = /layer:(\\d+) IP:(\\d+\\.\\d+\\.\\d+\\.\\d+)/;\n            const match = data.match(regex);\n            if (!match) return;\n\n            const layer = match[1];\n            const ip = match[2];\n\n            // Verifica se já existe uma linha na tabela com o mesmo 'layer' e 'IP'\n            let tableBody = document.querySelector('#ipTable tbody');\n            if (tableBody) {\n                let rows = tableBody.querySelectorAll('tr');\n                let exists = false;\n\n                rows.forEach(row => {\n                    let cells = row.querySelectorAll('td');\n                    if (cells.length > 1 && cells[0].innerText === layer && cells[1].innerText === ip) {\n                        exists = true;\n                    }\n                });\n\n                if (!exists) {\n                    let row = `<tr>\n                        <td>${layer}</td>\n                        <td>${ip}</td>\n                    </tr>`;\n                    tableBody.innerHTML += row; // Adiciona a nova linha somente se não existir\n                }\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 500,
        "wires": [
            []
        ]
    }
]