flows.json
[
    {
        "id": "fe162edfc74f05cc",
        "type": "tab",
        "label": "Rede MESH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d25b288341d60f1",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/route_table",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 312,
        "y": 359,
        "wires": [
            [
                "35cdaf9ceaadee25",
                "2ce41e7c60751a40"
            ]
        ]
    },
    {
        "id": "35cdaf9ceaadee25",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 572,
        "y": 319,
        "wires": []
    },
    {
        "id": "2ce41e7c60751a40",
        "type": "ui_template",
        "z": "fe162edfc74f05cc",
        "group": "962b785506e46f5c",
        "name": "",
        "order": 4,
        "width": 7,
        "height": 10,
        "format": "<!-- Adicione as classes Bootstrap para um melhor estilo -->\n<table class=\"table table-bordered table-striped table-hover\" id=\"routeTable\">\n    <thead>\n        <tr>\n            <th>Endereços MAC</th>\n        </tr>\n    </thead>\n    <tbody></tbody>\n</table>\n\n<!-- Adicione estilos personalizados para ajustes finos -->\n<style>\n    #routeTable th {\n        background-color: #f8f9fa; /* Cor de fundo leve para os cabeçalhos */\n        text-align: center; /* Alinha o texto ao centro */\n    }\n    #routeTable td {\n        text-align: center; /* Alinha o texto ao centro */\n    }\n    #routeTable tr:nth-child(odd) {\n        background-color: #f1f1f1; /* Cor de fundo alternada para linhas ímpares */\n    }\n</style>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (!data || !data.route_table) return;\n\n            let tableBody = document.querySelector('#routeTable tbody');\n            tableBody.innerHTML = ''; // Limpa a tabela existente\n\n            data.route_table.forEach((mac, index) => {\n                let row = `<tr>\n                    <td>${mac}</td>\n                </tr>`;\n                tableBody.innerHTML += row;\n            });\n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "74449e3cb4fe5856",
        "type": "mqtt in",
        "z": "fe162edfc74f05cc",
        "name": "",
        "topic": "/topic/ip_mesh",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38ecf3d13bf18e0a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "ab8d8459919fc07d",
                "02b92814b2ea7ad9"
            ]
        ]
    },
    {
        "id": "ab8d8459919fc07d",
        "type": "debug",
        "z": "fe162edfc74f05cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "02b92814b2ea7ad9",
        "type": "ui_template",
        "z": "fe162edfc74f05cc",
        "group": "962b785506e46f5c",
        "name": "",
        "order": 2,
        "width": 7,
        "height": 10,
        "format": "<table class=\"table\" id=\"ipTable\">\n    <thead>\n        <tr>\n            <th>Camada</th>\n            <th>Endereço IP</th>\n        </tr>\n    </thead>\n    <tbody></tbody>\n</table>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (!data) return;\n\n            // Extrair valores de 'layer' e 'IP' da string\n            const regex = /layer:(\\d+) IP:(\\d+\\.\\d+\\.\\d+\\.\\d+)/;\n            const match = data.match(regex);\n            if (!match) return;\n\n            const layer = match[1];\n            const ip = match[2];\n\n            // Verifica se já existe uma linha na tabela com o mesmo 'layer' e 'IP'\n            let tableBody = document.querySelector('#ipTable tbody');\n            if (tableBody) {\n                let rows = tableBody.querySelectorAll('tr');\n                let exists = false;\n\n                rows.forEach(row => {\n                    let cells = row.querySelectorAll('td');\n                    if (cells.length > 1 && cells[0].innerText === layer && cells[1].innerText === ip) {\n                        exists = true;\n                    }\n                });\n\n                if (!exists) {\n                    let row = `<tr>\n                        <td>${layer}</td>\n                        <td>${ip}</td>\n                    </tr>`;\n                    tableBody.innerHTML += row; // Adiciona a nova linha somente se não existir\n                }\n            }\n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c86e9820181a4138",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "5bc6effc1ddc7f47",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "ff37e392e07caee3",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "989da50077a834fe",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "7a93f05f60187393",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "8cf770615c597d5a",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 8,
        "width": 9,
        "height": 1
    },
    {
        "id": "0492d31db728a062",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "168694c739f2d2b0",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c6c7546d12dfb62",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 11,
        "width": 9,
        "height": 1
    },
    {
        "id": "709de711085d6dcd",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "221162159b7adcab",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "08940351eac58c88",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 14,
        "width": 9,
        "height": 1
    },
    {
        "id": "4d39380a373cf62a",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "ffd87006f40fbf34",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "07e667a840905c10",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 17,
        "width": 9,
        "height": 1
    },
    {
        "id": "e90a7c99921270a5",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "82e53079e24c1f22",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8e91c262e54c745",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 20,
        "width": 9,
        "height": 1
    },
    {
        "id": "dbdbe5b74eb6f5a5",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "baad2662382425ab",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c4a22717580436c",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 23,
        "width": 9,
        "height": 1
    },
    {
        "id": "b12cd4e663867f66",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "5f9dd37ba5f49037",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddcad68d5b931ac8",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 26,
        "width": 9,
        "height": 1
    },
    {
        "id": "e11c2b408d95c45b",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "f1b18a50a316219f",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "7377cb8d41a53536",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 29,
        "width": 9,
        "height": 1
    },
    {
        "id": "2bc4e3b11d5ef6b4",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 30,
        "width": 6,
        "height": 1
    },
    {
        "id": "f66fc3d329be5686",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "21f76f9b59b138fb",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 32,
        "width": 9,
        "height": 1
    },
    {
        "id": "e553a02c2e006abd",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 33,
        "width": 5,
        "height": 1
    },
    {
        "id": "ed2c230079a1755e",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 35,
        "width": 8,
        "height": 1
    },
    {
        "id": "f294c7dbfe222cb4",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 36,
        "width": 5,
        "height": 1
    },
    {
        "id": "6e5999ee31a1f0d1",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 37,
        "width": 8,
        "height": 1
    },
    {
        "id": "dda136c29e78837c",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 38,
        "width": 5,
        "height": 1
    },
    {
        "id": "6d8805e5580720cf",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 39,
        "width": 8,
        "height": 1
    },
    {
        "id": "9823d0dc8e8486c4",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 40,
        "width": 5,
        "height": 1
    },
    {
        "id": "8ecbe7658045e6cd",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 41,
        "width": 8,
        "height": 1
    },
    {
        "id": "d2c2d9a368d84236",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 42,
        "width": 5,
        "height": 1
    },
    {
        "id": "7ce74244c4afb483",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 43,
        "width": 8,
        "height": 1
    },
    {
        "id": "421103698a018417",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 44,
        "width": 5,
        "height": 1
    },
    {
        "id": "f755e0df1245df2b",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 45,
        "width": 8,
        "height": 1
    },
    {
        "id": "8aee5ad0b9d1cc1f",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 46,
        "width": 5,
        "height": 1
    },
    {
        "id": "fb7ea115d8126637",
        "type": "ui_spacer",
        "z": "fe162edfc74f05cc",
        "name": "spacer",
        "group": "962b785506e46f5c",
        "order": 47,
        "width": 8,
        "height": 1
    },
    {
        "id": "38ecf3d13bf18e0a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "962b785506e46f5c",
        "type": "ui_group",
        "name": "Monitoramente rede",
        "tab": "17c107cbb68e5486",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "17c107cbb68e5486",
        "type": "ui_tab",
        "name": "Rede Mesh",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]